/* CSS for Quiz 1 - Part 1 */

/* For this part of the quiz, build the CSS to render the HTML to match
the screenshot provided. */

body {
    font-family: verdana; 
    background-color: #ccccff;
    padding: 25px;
    border-top: 25px solid blue;
    border-right: 25px solid blue;
    border-left: 25px solid blue;
    margin: 0 0 0 0;
    font-size: 15px;
}

header {
    background-color: red;
    padding: 15px;        
}

main {
    background-color: white;
    padding: 15px;
    border: 1px dashed blue;
}

footer {
    text-align: right;
    font-style: italic;
    margin: 35px 10px 0 0;
}
