* {
    -webkit-print-color-adjust: exact;
}

body {
    border: 5px dotted black;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0 25px;
}

h1, h2, h3 { margin: 0;}

a {
    text-decoration: none;
    color:forestgreen;
}

a:hover {
    background: black;
    color: white;
}

header, h3 {
    color: navy;
    font-family: Verdana, sans-serif;
}

header {
    background: #ddddff;
    padding: 10px 20px;
}

article {
    border: 10px solid green;
    padding: 0 25px;
}

article h3 { 
    background: #ccccff;
    margin: 10px 0;
}

section {
    margin-bottom: 50px;
}

section#last div {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

footer {
    background: #ddff66;
    padding: 15px 25px;
}

.notice {
    font-style: italic;
    font-weight: bold;
    font-size:smaller;
}