body {
    background-color: brown;
}
h1 {
    text-align: center;
    font-family: inherit;
    color: white;
    font-size: 50px;
}
div {
    height: 300px;
    width: 300px;
    margin: 70px;
}

#square1 {
    background: cornflowerblue;
    border: 5px solid white;
    float: right
}

#square2 {
    background: black;
    border: 5px solid white;
    float: left;
}

button {
    display: block;
    clear:both;
    width: 200px;
    margin:auto;
}

